<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kakawin.gis.springboot.modules.system.mapper.SysOrganMapper">
	<select id="getByUsername" resultType="com.kakawin.gis.springboot.modules.system.entity.SysOrgan" parameterType="String">
		select 
			tb_sys_organ.* 
		from 
			tb_sys_organ,tb_sys_user
		where
			tb_sys_user.username=#{username}
		and
			tb_sys_user.organ_id=tb_sys_organ.id
		limit 1
	</select>
	
	<select id="listByParentId" resultType="com.kakawin.gis.springboot.modules.system.entity.SysOrgan" parameterType="String">
		select 
			tb_sys_organ.* 
		from 
			tb_sys_organ
		where
			tb_sys_organ.parent_id=#{parentId}
	</select>
	
	<select id="getChildIdsString" resultType="String" parameterType="String">
		select 
			GET_ORG_CHILD_IDS(#{organId})
	</select>
	
	<select id="getParentIdsString" resultType="String" parameterType="String">
		select 
			GET_ORG_PARENT_IDS(#{organId})
	</select>
</mapper>