<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kakawin.gis.springboot.modules.system.mapper.SysUserMapper">
	<select id="getByUsername" resultType="com.kakawin.gis.springboot.modules.system.entity.SysUser" parameterType="String">
		select 
			tb_sys_user.* 
		from 
			tb_sys_user
		where
			tb_sys_user.username=#{username}
		limit 1
	</select>
	<select id="listByParamMap" parameterType="Map" resultType="com.kakawin.gis.springboot.modules.system.entity.SysUser">
		select
			tb_sys_user.*
		from 
			tb_sys_user
		<where>
		<if test="username!=null and username!=''">
			tb_sys_user.username like concat(concat('%',#{username}),'%')
		</if>
		<if test="name!=null and name!=''">
			and tb_sys_user.name like concat(concat('%',#{name}),'%')
		</if>
		<if test="organId!=null and organId!=''">
			and tb_sys_user.organ_id=#{organId}
		</if>
		<if test="state!=null and state!=''">
			and tb_sys_user.state=#{state}
		</if>
		</where>
		order by tb_sys_user.update_time desc
	</select>
</mapper>